@font-face {
    font-family: 'Cookie-Regular';
    font-style: normal;
    src: url('../fonts/Cookie-Regular.ttf');
}

@font-face {
    font-family: 'Cardo-Bold';
    font-style: normal;
    src: url('../fonts/Cardo-Bold.ttf');
}

@font-face {
    font-family: 'Cardo-Italic';
    font-style: normal;
    src: url('../fonts/Cardo-Italic.ttf');
}

@font-face {
    font-family: 'Cardo-Regular';
    font-style: normal;
    src: url('../fonts/Cardo-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    src: url('../fonts/Roboto-Light.ttf');
}

h1, h3 {
    padding: 1% 2%;
    font-family: Cookie-Regular, serif;
    font-size: 50px;
    color: #4aa121;
}

h2 {
    padding: 0 2%;
    font-family: UpperEastSide, serif;
    font-size: 35px;
    color: #4aa121;
    background: rgb(51, 51, 51);
    margin: 0 auto;
}

h3 {
    color: black;
    transform: rotate(-22deg);
}

h4 {
    display: inline;
    font-weight: 800;
}

p, .navbar, .footer-content-block {
    font-family: "Roboto-Light", serif;
    padding: 1% 2%;
    letter-spacing: 0.1px;
}

p {
    font-size: 16px;
}

.text-paragraph {
    margin: 5%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

html {
    background-image: url("../images/bg/brown-wallpaper-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: rgba(51, 51, 51, 0.4);
}

.wrapper * {
    /*border: 0.5px solid !important;*/
}

header {
    z-index: 99;
    display: block;
    height: 7.5%;
    background: linear-gradient(to right, rgba(51, 51, 51, 1) 50%, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0) 100%);
    position: fixed;
    width: 100%;
    margin: 0.3% 0 auto auto;
}

/* Navbar container */
.navbar {
    padding: 0 30% 0;
    z-index: 99;
    width: 40%;
    margin: 0 auto;
    top: 0;
    position: fixed;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: left;
    margin: 7.8% 0 0 6%;
    text-decoration: none;
}

/*!* The dropdown container *!*/
/*.dropdown {*/
/*    margin: 10% 5% 0 0;*/
/*    float: left;*/
/*    overflow: hidden;*/
/*}*/
/*!* Dropdown button *!*/
/*.dropdown .dropbtn {*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    outline: none;*/
/*    color: white;*/
/*    padding: 0 5% 0 0;*/
/*    background-color: inherit;*/
/*    font-family: inherit; !* Important for vertical align on mobile phones *!*/
/*    margin: 0; !* Important for vertical align on mobile phones *!*/
/*}*/
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn, .footer-content-block a:hover {
    background-color: red;
}

/*!* Dropdown content (hidden by default) *!*/
/*.dropdown-content {*/
/*    display: none;*/
/*    position: fixed;*/
/*    background-color: #f9f9f9;*/
/*    min-width: 160px; !* weiße Flächen innerhalb Dropdown *!*/
/*    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
/*    z-index: 1;*/
/*}*/
/*!* Links inside the dropdown *!*/
/*.dropdown-content a {*/
/*    float: none;*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    text-align: left;*/
/*}*/
/*!* Add a grey background color to dropdown links on hover *!*/
/*.dropdown-content a:hover {*/
/*    background-color: #ddd;*/
/*}*/
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.top-content {
    margin: 5% auto 3% auto;
    width: 100%;
    display: flex;
    position: absolute;
    height: 84%;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: black;
}

#top-content-image {
    display: inline;
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    bottom: 0;
    padding: 0 7.6%;
}

.top-content-block {
    text-align: justify;
    position: static;
    Z-index: 5;
    word-wrap: break-word;
    width: 60%;
    height: 100%;
    background-color: white;
}


.footer-content {
    z-index: 10;
    overflow: hidden;
    float: left;
    position: fixed;
    height: 5%;
    width: 100%;
    background-color: #333;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

/* footer */
.footer-content-block {
    text-align: center;
    float: left;
    margin: 0 auto;
    display: inline-block;
    z-index: 99;
    height: 5%;
    width: 100%;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
    position: static;
    bottom: 0;
}

.footer-content-block a {
    color: white;
    text-decoration: none;
    margin: auto 3%;
}

.search {
    font-size: 10px;
    width: 20%;
    height: 14px;
    margin: 8.2% 2% 0 5%;
}

#search:focus {
    font-size: 10px;
    width: 20%;
    height: 14px;
}

.fa-search {
    color: white;

}

.logo {
    position: fixed;
    z-index: 100;
    float: left;
    display: block;
    margin: 0.3% 0 auto auto;
    width: 30%;
    height: auto;
}

.panicbutton {
    position: fixed;
    z-index: 100;

    display: block;
    top: 0;
    right: 0;
    width: 5%;
    height: auto;
}